@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(56, 56, 56);
}

.container {
    padding: 30px 30px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
    gap: 25px;
}

.box.blur {
    filter: blur(5px);
    pointer-events: none;
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 20px;
    color: #fff;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s;
    background-color: rgb(22, 22, 22);
    box-shadow: rgba(159, 159, 159, 0.3) 0px 0px 0px 3px;
}

.card:hover {
    transform: translateY(-3px);
}

.box.blur {
    filter: blur(12px);
}

.box .card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 30px;
    border: none;
    border-radius: 12px;
}

.box .card .content {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    align-self: flex-start;
}

.box .card h2 {
    width: 100%;
}

.box .card p {
    width: 230px;
    font-size: 15px;
    margin: 0 0 30px;
    opacity: 0.7;
}

.box .card button {
    padding: 7px;
    border: none;
    font-size: 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.box .card button:hover {
    color: #fff;
    background-color: orangered;
    transform: scale(1.03);
}

/* .showCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -48%);
} */

.detailCard {
    margin: auto;
    width: 500px;
    border: none;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    background-color: rgb(22, 22, 22);
    text-align: center;
    position: fixed;
    /* top: 50%;
    left: 50%;
    transform: translate(-5%, -2%); */
}

.detailCard h1 {
    color: #fff;
}

.detailCard.hide {
    display: none;
}

.detailCard.show {
    display: block;
}

.detailCard h1 {
    margin-bottom: 20px;
}

.detailCard .closeBtn {
    width: 50%;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.contentCard .cardBtns{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.contentCard .cardBtns .closeBtn:first-child{
    color: #fff;
    background-color: #000;
}

.detailCard .closeBtn:hover {
    color: #fff;
    background-color: orangered !important;
    transform: translateY(-3px);
}

.detailCard.animateIn {
    animation: show_animate 0.2s ease-in forwards;
}

.detailCard.animateOut {
    animation: hide_animate 0.2s ease-out forwards;
}

@keyframes show_animate {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes hide_animate {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.detailCard .contentCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 20px;
}

.detailCard img{
    width: 430px;
    object-fit: cover;
    border-radius: 20px;
    height: 430px;
    margin-bottom: 20px;
}

.detailCard p{
    margin-bottom: 20px;
}

.detailCard .cardContent {
    color: #fff;
    text-align: start;
}

.detailCard .cardContent h1 {
    margin: 0;
    font-weight: 700;
}

.detailCard .cardContent h4 {
    font-weight: bolder;
    opacity: 0.9;
    margin-bottom: 10px;
}

.detailCard .cardContent p {
    opacity: 0.7;
    font-size: 15px;
    font-weight: normal;
}

@media screen and (max-width: 600px) {
    /* .showCard {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -1%);
    } */

    /* .detailCard {
        top: 60%;
        left: 16%;
        width: 320px;
        height: max-content;
    } */

    .detailCard {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-width: 500px; /* To limit card width on larger screens */
        height: auto; /* Adjust as needed based on card content */
    }

    .detailCard .contentCard {
        padding: 15px 15px;
    }

    .detailCard img{
        width: 250px;
        object-fit: cover;
        border-radius: 20px;
        height: 250px;
        margin-bottom: 34px;
    }

    .detailCard .cardContent h1 {
        margin: 0;
        font-size: 21px;
        font-weight: 700;
    }
    
    .detailCard .cardContent h4 {
        font-weight: bolder;
        opacity: 0.9;
        font-size: 12px;
        margin-bottom: 25px;
    }
    
    .detailCard .cardContent p {
        opacity: 0.7;
        font-size: 10px;
        font-weight: normal;
        margin-bottom: 25px;
    }

    .contentCard .cardBtns {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .detailCard .closeBtn {
        width: 100%;
        padding: 10px 30px !important;
    }
}